# Python

venv/
.venv/

__pycache__/
*.pyc

dist/
build/
*.egg-info/

# Pytest

.pytest_cache/

# Carpetas generadas

MiProyecto/
salida/
salida_test/
salida_test2/
temp_build_output/
temp_build_output_plural_test/

# ANTLR

.antlr/

# Logs

*.log
