project TiendaOnline

folders:
controllers
models
routes
templates
static

files:
app.py
requirements.txt
Dockerfile
README.md

models:
model Product:
    id:int
    nombre:string
    precio:float

files:
app.py
requirements.txt
Dockerfile
.dockerignore
README.md